@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #000;
  font-family: "Poppins", sans-serif;
  display: block;
  height: 100vh;
  margin: 0;
}

*::selection {
  background: #2b3dda;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #420177;
}



/* navbar starts */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 6.5rem;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
  }
  section {
    min-height: 100vh;
    padding: 2rem 9%;
  }
  .heading {
    font-size: 3.5rem;
    color: rgb(32, 32, 32);
    font-weight: 800;
    text-align: center;
  }
  .heading span {
    color: rgb(115, 3, 167);
  }
  header .logo {
    font-size: 1.9rem;
    font-weight: 800;
    text-decoration: none;
    color: #0e2431;
  }
  header .logo i {
    font-size: 2.2rem;
  }
  header .logo:hover {
    color: #fc8c05;
  }
  header .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navbar li {
    margin-left: 2.5rem;
  }
  header .navbar ul li a {
    font-size: 1.57rem;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.04rem;
    transition: 0.2s;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    color: #ffffff !important;
    border-bottom: 0.2rem solid #011aff !important;
    padding: 0.5rem 0 !important;
  }
  /* navbar ends */
  h1 {
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 9em;
  }
.logo img {
  height: 50px;
  width: auto;
  z-index: 1001; 
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); 
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .logo img {
    height: 30px;
  }

  .centered-container {
    min-height: 100vh;
    height: auto;
  }

  .main-container {
    min-height: 100%;
  }

  #title {
    font-size: 3em;
  }
}
/* contact section starts */
.contact {
  background: linear-gradient(to right, #003366, #005599);
  min-height: auto;
  margin-top: 50px; /* adjust this value as needed */
  background: linear-gradient(to right, #003366, #005599);
  min-height: auto;
}
.container {
  display: flex;
  flex-direction: column;
}
.contact .container {
  max-width: 1050px;
  width: 100%;
  background: linear-gradient(to right, #006699, #0099cc);
  border-radius: 1.5rem;
  margin: 2rem auto 0 auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact .content .image-box {
  max-width: 60%;
  margin-left: 4rem;
}
.contact .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}
.contact .content form {
  width: 45%;
  margin: 0 auto;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: rgb(115, 3, 167);
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: #421cecf5;
}
.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 6px;
  left: -1px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}
.button-area button:hover i {
  left: 3px;
}
#contactus {
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }
  .contact .container {
    margin: 3rem 0 2rem 0;
  }
  .contact .container .content {
    padding: 18px 12px;
  }
  .contact .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}
/* contact section media queries ends */



/* Alert message starts */
.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 0.9;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
  display: none; /* Hidden by default */
}

.alert button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: #f44336;
  cursor: pointer;
  border-radius: 5px;
}
.error {
  color: red;
  display: block;
  padding-left: 12px;

}
/* alert message ends */


/* contact section ends */
.black-bg {
  background-color: black;
}
